
div.image img[src="base_policy_ast.png"]{ 
    width: 100%;
    z-index: 0;
}
div.image img[src="base_policy_ast_condition.png"]{ 
    width: 100%;
    z-index: 0;
}
div.image img[src="policy_ast.png"]{ 
    width: 100%;
    z-index: 0;
}
div.image img[src="base_policy_ast_statement.png"]{ 
    width: 100%;
    z-index: 0;
}
div.image img[src="policy_ast_comparable.png"]{ 
    width: 100%;
    z-index: 0;
}
div.image img[src="policy_ast_condition.png"]{ 
    width: 100%;
    z-index: 0;
}
div.image img[src="policy_ast_state.png"]{ 
    width: 100%;
    z-index: 0;
}


